build/
include/lua/
jit/
.vscode/
.idea/
compile_commands.json
.DS_Store
Thumbs.db
.BUILDINFO 
.MTREE 
.PKGINFO
*.o
*.obj
*.exe
*.dll
*.asi
*.a
*.lib
*.log
*.swp
*.swo
!lib/**/*.a
!lib/**/*.lib
!lua51.dll
lib/luajit/luajit
